body {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.left-image {
    grid-row: span 3;
    background-image: url(images/background.jpg);
    background-size: 100vh;
}

.odin-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(23, 22, 22, 0.5);
    height: 100px;
    margin-top: 17vh;
}

.logo-container {
    height: 90px;
}

.logo-text {
    color: white;
}

.top-right-panel {
    grid-column: span 2;
}

.main-form-panel {
    grid-column: span 2;
}

.bottom-right-panel {
    grid-column: span 2;
}