

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.grid-container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.left-image {
    grid-row: span 3;
    background-image: url(images/background.jpg);
    background-size: 100vh;
}

.odin-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(23, 22, 22, 0.5);
    height: 100px;
    margin-top: 19vh;
}

.logo-container {
    height: 90px;
}

.logo-text {
    color: white;
    font-size: 50px;
}

.top-right-panel {
    grid-column: span 2;
    padding-top: 10vh;
    padding-left: 4vh;
    font-size: larger;
    background-color: rgb(248, 247, 247);
}

.main-form-panel {
    grid-column: span 2;
    padding-left: 4vh;
    box-shadow: 0 7px 15px -5px rgb(132, 132, 132);

}

.form-header {
    font-size: larger;
    padding-top: 20px;
}

input, label {
    display: block;
    margin: 3px;
}

.form-container {
    display: flex;
    justify-content: space-between;
    width: 30vw;
    flex-wrap: wrap;
    font-size: 10px;
    letter-spacing: 1px;
    padding-top: 3vh;
}

.bottom-right-panel {
    grid-column: span 2;
    padding-left: 4vh;
    padding-top: 30px;

}

button {
    background-color: rgba(59, 111, 59, 0.914);
    color: white;
    border-radius: 5px;
    border-style: none;
    font-size: 15px;
    height: 40px;
    width: 200px;
}


.log-in {
    padding-top: 20px;
    font-size: 16px;
}