
.grid-container {
    border: 6px solid yellow;
    display: grid;
    grid-template-columns: 20%;
    width: 100vw;
    height: 100vh;
}


.left-image {
    border: 6px solid black;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}

.top-right-panel {
    border: 6px solid blue;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 6;
}

.main-form-panel {
    border: 6px solid red;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 6;
}

.bottom-right-panel {
    border: 6px solid green;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 6;
}